
#modal--logout{
	@include modal;
	.card__link{
		display: flex;
		justify-content: center;
		button{
			margin:0 10px;
		}
	}

}

.modal--edit{
	.modal-dialog {
		margin-top: 100px;
	}
	form .modal--post__ph--upload .uploading .lock{
		transform: scale(1);
		opacity: 1;
	}
}

.modal--post{
	@include modal;
	.modal-header{
		margin-bottom: 0;
	}
	.modal-dialog{
		// width from parent
		width: calc(100% - 560px - 65px);
		max-width: 979px;

		// 100 is the width of the nav
		margin-top: 186px;
		transform: translateX(-170px) !important;
		@include responsive(1550px){
			transform: translateX(-161px) !important;
		}
	}
	.progress{
		margin: 28px 0;
		.progress-bar{
			@include bg;
		}
	}
	#post--date--value{
		opacity: .8;
		text-align: right;
		height: 22px;
		.hide{
			display: none;
		}
	}
	hr{
		background-color: rgb(233, 236, 239);
		margin-top: 5px;
		margin-bottom: 20px;
	}
	.form-group{
		position: relative;
	}
	.emoji{
		position: absolute;
		top:0;
		right: 0;
		background-color: #fff;
		svg path{
			fill:#e9ecef;
		}
	}
	form{
		textarea.form-control {
			height: 150px;
			padding: 0;
			border: 0;
			outline: none;
			box-shadow: none;
			white-space: pre-line;

		}
		@include  card__link;
		label{
			margin-bottom: 0;
		}
		.modal--post__ph--upload{
			@include scrollbar;
			margin: 0 -5px;
			margin-bottom: 14px;
			display: flex;
			.image{
				margin:7px;
				height: 170px;
				width: 160px;
				min-width: 160px;
				position: relative;
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: right;
				transition: background 0.3s  ease-in;
				background-size: 0 ;
				@include bg;
				&:not(.empty--input){
					// @include bg;
				}
				img:not([src$='.png']){
					@include bg;
					white-space: wrap;
					font-size: 12px;
					display: flex;
					justify-content: center;
					align-items:center;
					
				}

				&:hover{
					.edit--wrapper{
						top: 0px;
					}
				}

			}
			.loader__wrapper {
				align-items: center;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				justify-content: center;
				
			}
			.uploading{
				
				background-size: 100%;
				
				.loader__wrapper {
					display: flex;
					animation: fadein 3s linear .3s  forwards reverse;
				}

				.edit--wrapper, .lock{
					transform:scale(0);
					opacity: 0;
					@include transition-in;
				}
				img{
					opacity: 0;
					animation: fadein 3s linear .3s  forwards;
				}
			}
			img{
				@include image;
			}
			.edit--wrapper{
				position: absolute;
				top: -50px;
				right: 0px;
				z-index: 0;
				padding: 8px;
				width: 100%;
				color: #fff;
				background-color: rgba(35, 35, 35, 0.69);
				font-size: 15px;
				text-align: right;
				@include transition-in;

				a{
					margin-left: 5px;
					padding-left: 5px;
					border-left:1px solid #bcbcbc;
				}
			}

			.lock{
				@include absolute--svg;
				bottom:8px;
				right: 8px;
				height: 40px;
				width: 40px;
				background-color: rgba($dark, 0.3);
				transition:.3s ease;
				svg{
					height: 17px;
					path{
						transition:.3s ease;
						
					}
				}
				&.unlocked{
					background-image: none;
					
					path:last-child{
						fill-opacity:0;
					}

				}
			}


			.input__hide{
				position: absolute;
				height: 0;
				width: 0;
				opacity: 0;
				visibility: hidden;
			}


			.empty--input{
				border: 3px dashed rgba(187, 187, 187, 0.4);
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 80px;
				color: rgba(187, 187, 187, 0.4);
				order: 1;
				input{
					visibility: hidden;
					opacity: 0;
					@include position;
				}
				&.hide{
					display: none;
				}
			}
		}
	}
	.card__link{
		.pr {
			margin-left: auto !important;
		}
		a, button {
			margin-left: 0 !important;
			margin-right: 1.5em;
		}
		button[type='submit']{
			width: 120px;
			@include br12;
		}
		.non-active{
			margin-right: 0;
			svg{
				opacity: 0.3;
				path{
					fill: $dark;
				}
			}
		}
		label{
			margin-bottom: 0;
		}
		.select--input--wrapper{
			background-color: $white;
			@include br12;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items:center;
			color: $dark;
			label, ::placeholder, .form-control{
				color: $dark;
			}
			.form-control{
				border:none !important;
				outline: 0 !important;
				box-shadow:none !important;

			}
			.select-wrapper{
				margin-right: 12px;
			}
			select{
				background-color: transparent;
				& + i, & + svg{
					right: -3px;
					opacity: .5;
					height: 15px;
					width: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.input--wrapper {
				display: flex;
				align-items: center;
				&.hide{
					display: none;
				}

				.form-control{
					height: 28px;
					width: 62px;
					margin: 0px 8px;
					border-radius: 8px;
					padding: 6px;
				}
			}
		}
		.shedule--link{
			&.active{
				svg{
					opacity: 1;
				}
			}
			.user--gesture__blocked{
				opacity: 0;
				z-index: 9;
				cursor: pointer;
			}
			label{
				pointer-events:none;
			}
		}
	}

	.poll__wrapper{
		.custom-control{
			display: flex;
			align-items: center;
			position: relative;
			padding: 0;
			// &:first-child, &:nth-child(2){
			// 	a.count{
			// 		pointer-events:none;
			// 		visibility: hidden;
			// 	}
			// }
		}
		.result--box{
			box-shadow:none !important;
			outline: none !important;
			margin-left: 0 !important;
			color: $dark !important;
		}
		.poll--buttom{
			display: flex;
			justify-content: space-between;

			button{
				opacity: 0.7;
				&:hover, &:focus-within{
					opacity: 1;
				}
			}
			.select--input--wrapper{
				background-color: $white;
				@include br12;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items:center;
				color: $dark;
				label, ::placeholder, .form-control{
					color: $dark;
				}
				.form-control{
					border:none !important;
					outline: 0 !important;
					box-shadow:none !important;


				}
				.select-wrapper{
					margin-right: 12px;
				}
				select{
					background-color: transparent;
					width: 135px;
					& + i, & + svg{
						right: -3px;
						opacity: .5;
						height: 15px;
						width: auto;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}

			}
			.poll--trash{
				margin-left: 10px;
				width: 46px;
				padding: 0;
				height: 46px;
			}
		}
		display: none;
		width: 100% !important;
	}
	.removeCross{
		a.count{
			visibility: hidden;
		}
	}

}

#poll--inside--count{
	display: none;
}

.loader{
	.shadow {
		width: 50px;
		height: 5px;
		background: #000;
		opacity: 0.1;
		border-radius: 50%;
		animation: shadow .5s linear infinite;
		margin-top: 20px;
	}
	.box {
		width: 50px;
		height: 50px;
		@include bg;
		animation: animate .5s linear infinite;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items:center;
		&> img{
			width: 22px !important;
			height: auto !important;
			object-fit: contain !important;
		}
		.cls-3 {
			fill: #fff;
		}
	}
}

.loader__wrapper{
	display: none;
	align-items: center;
	&.active{
		display: flex;
	}
	.section__title{
		margin-bottom: 0;
		margin-left: 10px;
	}
}

.fullImage{
	@include modal;
	overflow-y: hidden !important;
	.modal-dialog {
		width: 94vw;
		height: 95vh;
		max-height: 1000px;
		max-width: 1425px;
		transform: translateX(50px) !important;
	}
	@include card;
	@include responsivemmd{
		.section__title{
			display: none;
		}
	}
	.close{
		position: absolute;
		top: 117px;
		left: -72px;
		z-index: 2;
		background-color:#fff;
		.cls-1{
			fill: #a1a1a1 !important;
		}

	}

	.card{
		flex-direction: row;
		align-items: flex-start;
		padding: 0;
		box-shadow: none !important;
		@include responsivemmd{
			@include mb;
		}
		@include setting;
		.card--img--wrapper{
			
			.card__img{
				width: calc(100vh - 60px);
				height: calc(100vh - 60px);
				max-height: 1000px - 60px;
				max-width: 1000px - 60px;
				opacity: 1;
				@include transition-in;
				&.active{
					// transform: scale(1.4);
					
				}
			}
		}
		.aside__left{
			flex-grow: 2;
		}

		.right--aside {
			width: 580px;
			background-color: #fff;
			z-index: 1;
			margin-left: auto;
			// flex-grow: 2;
			.right--aside__wrapper{
				padding:0 30px;
				// padding-right: 60px;
			}
		}
	}
	.card__comments{
		padding-left: 0px !important;
		margin-top: 30px;
		border-top: 1px solid #f2f2f2;
		padding-top: 10px;
		overflow-y: scroll;
		scrollbar-width: none;
		height: calc(100vh - 260px);

		&::-webkit-scrollbar {
			background: transparent; /* make scrollbar transparent */
			-webkit-appearance: none;
			width: 0;
			height: 0;
		}
	}
}

.modal--shareFeed{
	
	form {
		textarea.form-control{
			height: 80px;
		}

	}
}

#fullImage--modal{
	z-index: 1090 !important;
}

.poll__wrapper{
	.custom-control{
		margin: 16px 0;
		.custom-control-input{
			&:checked {
				& ~ .custom-control-label::before{
					background-color: rgba($primary-color, 0.7);
				}
				& ~ .custom-control-label::after{
					background: none;
					background-color: #fff;
					border-radius: 50%;
					height: 10px !important;
					width: 10px !important;
					left: -19px;
					@include responsivemmd{
						left: -14px;

					}					
				}
			}
		}
		.custom-control-label{
			display: flex;
			align-items:center;
			position: relative;
			// overflow: hidden;
			.absolute--sorry{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0%;
				min-width: 0%;
				max-width: 100%;
				background-color: #fed8da;
				@include transition-in;
				@include br12;
				z-index: -2;
			}
			&:before, &:after{
				top: 50%;
				transform: translateY(-50%);
				height: 20px;
				width: 20px;
				box-shadow:none !important;
			}
			&:before{
				border: 1px solid rgba(254,69,69,0.51);

			}
		}
		.result--box{
			flex-grow: 2;
			@include border;
			padding: 7px 20px;
			margin: 0px 16px;
			position: relative;
			color: #D67878;
			border-color:rgba(254,69,69,0.51);
			z-index: 1;
			@include responsivemmd{
				margin:0 8px;
			}
		}
		.count{
			height: 40px;
			width: 40px;
			background-color: #fdd7da;
			@include br12;
			text-align: center;
			line-height: 40px;
			color: #da7878;
			font-weight: lighter;
		}
	}
}
.shared-feed{
	@include feed;
	.feed{
		width: 100%;
		max-width: 500px;

		.card{
			font-size: 14px;
			margin-bottom: 30px;
			background-color:$white;
			box-shadow:none !important;
			.image--multi{
				.image--multi__left{
					min-width: 200px;
					width: 245px;
					padding-left: 10px;
					.card__img{
						block-size: calc(50% - 12px);
					}
				}
			}
			.card__img{
				max-height: 300px;
				margin-bottom: 12px;
			}
			.card__top{
				margin-bottom: 14px;
				.card__img{
					height: 50px;
					width: 50px;
					min-width: 50px;
				}
			}
			.user__text{
				margin-bottom: 15px;
				font-size: 16px;
			} 
		}
	}
}
.shared {
	margin-bottom: 0 !important;
	.card{
		margin-bottom: 20px !important;
		box-shadow: rgba(35,35,35,0.1) 2px 2px 12px !important;
		.card__top{
			margin-bottom: 0 !important;
			.card__img{
				height: 50px !important;
				width: 50px !important;
				min-width: 50px !important;
			}
		}

	}
}
.modal--shareMessage{
	.shared-feed{
		display: flex;
		gap:20px;
		input.form-control{
			text-indent: 22px;
			box-shadow:none !important;
		}
	}

	.person--aside{
		flex-grow: 2;
		max-width: 50%;
		form{
			margin-right: 16px;
			flex-grow: 2;
			.form-group{
				width: 100%;
				position: relative;
				margin-bottom: 0;
				.form-control{
					border:1px solid  #d5d5d5;
					background-color: transparent;
					color: $para !important;
					box-shadow: none !important;
					outline: none !important;
					height: 46px;
					border-radius: 6px;
					padding: 0 26px;
					text-indent: 20px;	
					&::placeholder{
						color: $para !important;
					}
					&:focus, &:focus-within{

					}

				}
				svg{
					height: 16px;
				}

				.search{
					position: absolute;
					top: 50%;
					left: 12px;
					transform: translateY(-50%);
					opacity: 0.6;
					.cls-1, .cls-2{
						fill: $para;
					}
				}

			}
		}
		.modal-body{
			@include card;
			@include chat--card;
			.chat--card{
				padding: 0;
				.card__top{
					.card__img{
						height: 40px;
						width: 40px;
						min-width: 40px;
						.online {
							height: 10px;
							width: 10px;
							bottom: -2px;
							right: 2px;
						}
					}
					.card__top__body{
						padding: 0 10px;
					}
					.card__title{
						font-weight: 500;
						font-size: 16px;
					}
				}
			}
		}
		.modal-content{
			padding: 15px;
			margin-bottom: 20px;
			max-height: 500px;
			overflow-y: scroll;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				background: transparent; /* make scrollbar transparent */
				-webkit-appearance: none;
				width: 0;
				height: 0;
			}
		}
	}

	.search {
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translateY(-50%);
		opacity: 0.6;
		height: 16px;

	}

	.feed {
		width: 100%;
		max-width: 400px;
		.card .image--multi .image--multi__left{
			min-width: 180px;
			width: 250px;	
		}
	}
}