
#modal--logout{
	@include modal;
	.card__link{
		display: flex;
		justify-content: center;
		button{
			margin:0 10px;
		}
	}

}

.modal--edit{
	.modal-dialog {
		margin-top: 100px;
	}
	form .modal--post__ph--upload .uploading .lock{
		transform: scale(1);
		opacity: 1;
	}
}

.loader{
	.shadow {
		width: 50px;
		height: 5px;
		background: #000;
		opacity: 0.1;
		border-radius: 50%;
		animation: shadow .5s linear infinite;
		margin-top: 20px;
	}
	.box {
		width: 50px;
		height: 50px;
		@include bg;
		animation: animate .5s linear infinite;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items:center;
		&> img{
			width: 22px !important;
			height: auto !important;
			object-fit: contain !important;
		}
		.cls-3 {
			fill: #fff;
		}
	}
}

.loader__wrapper{
	display: none;
	align-items: center;
	&.active{
		display: flex;
	}
	.section__title{
		margin-bottom: 0;
		margin-left: 10px;
	}
}

.fullImage{
	@include modal;
	overflow-y: hidden !important;
	.modal-dialog {
		width: 94vw;
		height: 95vh;
		max-height: 1000px;
		max-width: 1425px;
		transform: translateX(50px) !important;
	}
	@include card;
	@include responsivemmd{
		.section__title{
			display: none;
		}
	}
	.close{
		position: absolute;
		top: 117px;
		left: -72px;
		z-index: 2;
		background-color:#fff;
		.cls-1{
			fill: #a1a1a1 !important;
		}

	}

	.card{
		flex-direction: row;
		align-items: flex-start;
		padding: 0;
		box-shadow: none !important;
		@include responsivemmd{
			@include mb;
		}
		@include setting;
		.card--img--wrapper{
			
			.card__img{
				width: calc(100vh - 60px);
				height: calc(100vh - 60px);
				max-height: 1000px - 60px;
				max-width: 1000px - 60px;
				opacity: 1;
				@include transition-in;
				&.active{
					// transform: scale(1.4);
					
				}
			}
		}
		.aside__left{
			flex-grow: 2;
		}

		.right--aside {
			width: 580px;
			background-color: #fff;
			z-index: 1;
			margin-left: auto;
			// flex-grow: 2;
			.right--aside__wrapper{
				padding:0 30px;
				// padding-right: 60px;
			}
		}
	}
	.card__comments{
		padding-left: 0px !important;
		margin-top: 30px;
		border-top: 1px solid #f2f2f2;
		padding-top: 10px;
		overflow-y: scroll;
		scrollbar-width: none;
		height: calc(100vh - 260px);

		&::-webkit-scrollbar {
			background: transparent; /* make scrollbar transparent */
			-webkit-appearance: none;
			width: 0;
			height: 0;
		}
	}
}

.modal--shareFeed{
	
	form {
		textarea.form-control{
			height: 80px;
		}

	}
	
}
.shared-feed{
	@include feed;
	.feed{
		width: 100%;
		max-width: 500px;

		.card{
			font-size: 14px;
			margin-bottom: 30px;
			background-color:$white;
			box-shadow:none !important;
			.image--multi{
				.image--multi__left{
					min-width: 245px;
					width: 300px;
					padding-left: 10px;
					.card__img{
						block-size: calc(50% - 12px);
					}
				}
			}
			.card__img{
				max-height: 300px;
				margin-bottom: 12px;
			}
			.card__top{
				margin-bottom: 14px;
				.card__img{
					height: 50px;
					width: 50px;
					min-width: 50px;
				}
			}
			.user__text{
				margin-bottom: 15px;
				font-size: 16px;
			} 
		}
	}
}


.shared {
	margin-bottom: 0 !important;
	.card{
		margin-bottom: 20px !important;
		box-shadow: rgba(35,35,35,0.1) 2px 2px 12px !important;
		.card__top{
			margin-bottom: 0 !important;
			.card__img{
				height: 50px !important;
				width: 50px !important;
				min-width: 50px !important;
			}
		}
		
	}
}

.modal--shareMessage{
	.shared-feed{
		display: flex;
		gap:20px;
		.feed{
			// max-width:500px;
		}
	}
	.person--aside{
		form{
			margin-right: 16px;
			flex-grow: 2;
			.form-group{
				width: 100%;
				position: relative;
				margin-bottom: 0;
				.form-control{
					border:1px solid  #d5d5d5;
					background-color: transparent;
					color: $para !important;
					box-shadow: none !important;
					outline: none !important;
					height: 46px;
					border-radius: 6px;
					padding: 0 26px;
					text-indent: 20px;	
					&::placeholder{
						color: $para !important;
					}
					&:focus, &:focus-within{

					}

				}
				svg{
					height: 16px;
				}

				.search{
					position: absolute;
					top: 50%;
					left: 12px;
					transform: translateY(-50%);
					opacity: 0.6;
					.cls-1, .cls-2{
						fill: $para;
					}
				}
				
			}
		}
		.modal-body{
			@include card;
			@include chat--card;
			.chat--card{
				padding: 0;
				.card__top{
					.card__img{
						height: 40px;
						width: 40px;
						min-width: 40px;
						.online {
							height: 10px;
							width: 10px;
							bottom: -2px;
							right: 2px;
						}
					}
					.card__top__body{
						padding: 0 10px;
					}
					.card__title{
						font-weight: 500;
						font-size: 16px;
					}
				}
			}
		}
	}
	.search {
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translateY(-50%);
		opacity: 0.6;
		height: 16px;
	}
}